{{- if and .Values.datasources.enabled .Values.datasources.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "continuous-monitoring.fullname" . }}-prometheus-config
  labels:
    {{- include "continuous-monitoring.labels" . | nindent 4 }}
    app.kubernetes.io/component: prometheus
    app.kubernetes.io/part-of: datasources

data:
  prometheus.yml: |
{{ tpl (.Files.Get "files/prometheus/prometheus.yml") . | indent 4 }}
{{- end }}
