{{- if and .Values.datasources.enabled .Values.datasources.prometheus.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "continuous-monitoring.fullname" . }}-prometheus-config
  labels:
    {{- include "continuous-monitoring.labels" . | nindent 4 }}
    app.kubernetes.io/component: prometheus
    app.kubernetes.io/part-of: datasources

data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets: ["localhost:9090"]
      - job_name: node-exporter
        metrics_path: /metrics
        static_configs:
          - targets: ["{{ include \"continuous-monitoring.fullname\" . }}-node-exporter:9100"]
      - job_name: kube-state-metrics
        metrics_path: /metrics
        static_configs:
          - targets: ["{{ include \"continuous-monitoring.fullname\" . }}-kube-state-metrics:8080"]
{{- if .Values.datasources.prometheus.extraScrapeConfigs }}
{{ toYaml .Values.datasources.prometheus.extraScrapeConfigs | indent 4 }}
{{- end }}
{{- end }}
