{{- if and .Values.datasources.enabled (or .Values.datasources.prometheus.enabled .Values.datasources.loki.enabled) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "continuous-monitoring.fullname" . }}-datasources
  labels:
    {{- include "continuous-monitoring.labels" . | nindent 4 }}
    grafana_datasource: "1"
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
{{- if .Values.datasources.prometheus.enabled }}
      - name: "Prometheus"
        type: prometheus
        url: {{ printf "http://%s-prometheus:9090" (include "continuous-monitoring.fullname" .) | quote }}
        access: "proxy"
        isDefault: true
{{- end }}
{{- if .Values.datasources.loki.enabled }}
      - name: "Loki"
        type: loki
        url: {{ printf "http://%s-loki:3100" (include "continuous-monitoring.fullname" .) | quote }}
        access: "proxy"
{{- end }}
{{- end }}
