replicaCount: 1

image:
  repository: ghcr.io/firasmosbehi/continuous-monitoring
  tag: "0.1.0"
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""
  annotations: {}

podAnnotations: {}
podLabels: {}

service:
  type: ClusterIP
  port: 80
  targetPort: http

containerPort: 8080

env: []
envFrom: []

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

livenessProbe:
  enabled: true
  path: /healthz
  port: http
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  enabled: true
  path: /readyz
  port: http
  initialDelaySeconds: 5
  periodSeconds: 10

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
