global:
  scrape_interval: 15s
scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]
  - job_name: node-exporter
    metrics_path: /metrics
    static_configs:
      - targets: ['{{ include "continuous-monitoring.fullname" . }}-node-exporter:9100']
  - job_name: kube-state-metrics
    metrics_path: /metrics
    static_configs:
      - targets: ['{{ include "continuous-monitoring.fullname" . }}-kube-state-metrics:8080']
  {{- if .Values.databases.postgres.enabled }}
  - job_name: postgres
    metrics_path: /metrics
    static_configs:
      - targets: ['{{ include "continuous-monitoring.fullname" . }}-postgres:{{ .Values.databases.postgres.service.exporterPort }}']
  {{- end }}
  {{- if .Values.databases.mysql.enabled }}
  - job_name: mysql
    metrics_path: /metrics
    static_configs:
      - targets: ['{{ include "continuous-monitoring.fullname" . }}-mysql:{{ .Values.databases.mysql.service.exporterPort }}']
  {{- end }}
